@font-face {
    font-family: 'Spaceport';
    src: url('Fonts/Spaceport1.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('Fonts/Roboto-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Righteous';
    src: url('Fonts/Righteous-Regular.ttf');
}
:root {
    --scharz: #151008;  /* Schwarzbraun */
    --weiß: #fdf8ef;  /* Cremeweiß */
    --hellorange: #e69900;  /* Leuchtendes Orange */
    --grau: #4a4a4a;  /* Dunkelgrau */
    --gold: #ffc55c;  /* Helles Goldgelb */
    --orange: #f15a24;  /* Knalliges Orange */
}


body{
    margin: 0;
    background: rgb(242,119,26);
    background: linear-gradient(180deg, rgba(242,119,26,1) 23%, rgba(210,210,210,1) 100%);    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh 10vw;
    overflow-x: hidden;
}


#wrapper{
    width: 70vw;
    border-radius: 5px;
    background: white;
    
}
footer{
    background-color: black;
    color: var(--weiß);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 15vw;
}
h1{
    font-family: 'Spaceport', sans-serif;
    font-size: 3.5em;
}
h2{
    font-family: 'Righteous', sans-serif;
    font-weight: lighter;
    font-size: 2em;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    opacity: 0.8;

}
/*Design Background*/
.backgroundKTM{
    position: absolute;
    z-index: -1;
    font-family: 'Righteos', sans-serif;
    font-weight: 1000;

}
.backgroundKTM:nth-child(3) {
    top: 15vh;
    left: 85vw;
    font-size: 6em;
    color: transparent;
    -webkit-text-stroke: 3px var(--weiß);
}
.backgroundKTM:nth-child(4) {
    top: 100vh;
    left: 0vw;
    font-size: 7em;
    color: var(--weiß);
}
.backgroundKTM:nth-child(5) {
    top: 100vh;
    left: 80vw;
    font-size: 7em;
    color: var(--scharz);
}
.backgroundKTM:nth-child(6) {
    top: 120vh;
    left: 0vw;
    font-size: 8em;
    color: transparent;
    -webkit-text-stroke: 3px var(--scharz);
}
.backgroundKTM:nth-child(7) {
    top: 120vh;
    left: 80vw;
    font-size: 8em;
    color: transparent;
    -webkit-text-stroke: 3px var(--weiß);
}
.backgroundKTM:nth-child(8) {
    top: 140vh;
    left: 0vw;
    font-size: 9em;
    color: var(--scharz);
}
.backgroundKTM:nth-child(9) {
    top: 140vh;
    left: 80vw;
    font-size: 9em;
    color: var(--weiß);
}
.backgroundKTM:nth-child(10) {
    top: 200vh;
    left: -13vw;
    font-size: 15em;
    color: transparent;
    -webkit-text-stroke: 3px var(--weiß);
    transform: rotate(-90deg);
}
.backgroundKTM:nth-child(11) {
    top: 200vh;
    left: 72vw;
    font-size: 15em;
    color: transparent;
    -webkit-text-stroke: 3px var(--weiß);
    transform: rotate(90deg);
}
.backgroundKTM:nth-child(12) {
    top: 0vh;
    left: 0vw;
    font-size: 13em;
    color: transparent;
    -webkit-text-stroke: 10px var(--scharz);
}


#wrapper nav{
    width: 80%;
    margin: 1em;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
#wrapper nav a{
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
    transition: text-decoration 0.5s;
}
#wrapper nav #homelink{
    font-size: 4em;
    font-weight: lighter;
    font-family: 'Spaceport', sans-serif;
}
#wrapper nav a:hover{
    text-decoration: underline 2px var(--orange);
}
#wrapper nav #homelink:hover{
    text-decoration: none;
}

#start{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-top: 10vh;
}
#leftInfo, #home-slider, #rightInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
#home-slider{
    justify-content: start;
    height: 60vh;
}
#leftInfo{
    align-items: start;
}
#rightInfo{
    align-items: end;
}
#home-slider {
    position: relative;
    width: 35%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Slider-Bild */
#home-slider img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    transform: scale(1.4); /* Startet mit leichter Vergrößerung */
}
#home-slider img.active {
    opacity: 1;
    transform: scale(1.2); /* Zoomt auf normale Größe zurück */
}

#helmet-slider-image{
    width: 7vw;
    position: relative;
    right: 0.5vw;
}
#helmet-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
}
#create-bike{
    margin: 8vh 0;
}
#search-helmet{
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: end;
}
/* From Uiverse.io by cssbuttons-io */ 
.learn-more {
    padding: 1.3em 3em;
    font-size: 12px;
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .learn-more:hover {
    background-color: var(--hellorange);
    box-shadow: 0px 15px 20px var(--orange);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .learn-more:active {
    transform: translateY(-1px);
  }
  .slider-button-left, .slider-button-right{
    border: none;
    background-color: transparent;
    font-size: 1.8em;
    transition: all 0.5s;
}
.slider-button-left:hover, .slider-button-right:hover{
    color: var(--orange);
    cursor: pointer;
}
.slider-button-left:active, .slider-button-right:active{
    transform: translateY(0.2vh);
}

#product-kategories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 0 0 0;
    height: 80vh;
    background-color: var(--gold);
}
#product-kategories div{
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
#product-kategories div div div p{
    width: 50%;
}
#product-kategories div div div h1{
    width: 40%;
    font-size: 3em;
    border-right: 2px solid var(--scharz);
}
#product-kategories div div div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#product-kategories-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.product-kategories-slider-img{
    width: 25%;
}

#image-collage-index{
    width: 100%;
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 0;
    background-color: var(--scharz);
}
#image-collage-index img{
    width: 21%;
    margin: 0;
}
#helmet-slider-bottom{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}
#helmet-slider-bottom div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:2em;
}
#helmet-slider-bottom div div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0;
}
#helmet-slider-bottom img{
    width: 100%;
}
#center-helmet{
    width: 25%;
}
.vertikal-line{
    width: 1px;
    background-color: var(--scharz);
    height: 3vh;
}
#footer-image{
    width: 50%;

}
.socials img{
    width:2vw;
}
footer section{
    display: flex;
    justify-content: center;
    gap: 2vw;
}



  