@font-face {
    font-family: 'Spaceport';
    src: url('Fonts/Spaceport1.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('Fonts/Roboto-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Righteous';
    src: url('Fonts/Righteous-Regular.ttf');
}
:root {
    --scharz: #151008;  /* Schwarzbraun */
    --weiß: #fdf8ef;  /* Cremeweiß */
    --hellorange: #e69900;  /* Leuchtendes Orange */
    --grau: #4a4a4a;  /* Dunkelgrau */
    --gold: #ffc55c;  /* Helles Goldgelb */
    --orange: #f15a24;  /* Knalliges Orange */
}


body{
    margin: 0;
    background: rgb(242,119,26);
    background: linear-gradient(180deg, rgba(242,119,26,1) 23%, rgba(210,210,210,1) 100%);    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vw;
}
#wrapper{
    width: 80vw;
    border-radius: 5px;
    background: white;
}
h1{
    font-family: 'Spaceport', sans-serif;
    font-size: 3.5em;
}
h2{
    font-family: 'Righteous', sans-serif;
    font-weight: lighter;
    font-size: 2em;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    opacity: 0.8;

}
#wrapper nav{
    width: 80%;
    margin: 1em;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
#wrapper nav a{
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
    transition: text-decoration 0.5s;
}
#wrapper nav #homelink{
    font-size: 4em;
    font-weight: lighter;
    font-family: 'Spaceport', sans-serif;
}
#wrapper nav a:hover{
    text-decoration: underline 2px var(--orange);
}
#wrapper nav #homelink:hover{
    text-decoration: none;
}

#start{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-top: 10vh;
}
#leftInfo, #home-slider, #rightInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
#home-slider{
    justify-content: start;
    height: 60vh;
}
#leftInfo{
    align-items: start;
}
#rightInfo{
    align-items: end;
}
#home-slider-image{
    width: 22vw;
}
#helmet-slider-image{
    width: 7vw;
    position: relative;
    right: 0.5vw;
}
#helmet-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
}
.learn-more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 5em;
    border-radius: 10px;
    border: 2px solid var(--hellorange);

}
#create-bike{
    margin: 8vh 0;
}
#search-helmet{
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: end;
}